<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jlaner</title>
    <link rel="stylesheet" href="/css/jlaner.css">
</head>
<body>
<header class="header">
    <h1>Jlaner</h1>
    <div class="header-buttons">
        <span id="member-name" th:text="${memberName} + '님'">사용자님</span>
        <button id="logout-button" class="header-button">Log Out</button>
    </div>
</header>
<nav>
    <div class="nav-item">
        <h3>포스팅</h3>
        <ul>
            <li><a href="#" onclick="switchTab('content')">Content</a></li>
        </ul>
    </div>
    <div class="nav-item">
        <h3>스케줄러</h3>
        <ul>
            <li><a href="#" onclick="switchTab('schedule')">Schedule</a></li>
        </ul>
        <div class="schedule-container">
            <label for="schedule-date">Select Date:</label>
            <input type="date" id="schedule-date" name="schedule-date">
            <button class="confirm-button" onclick="confirmDate()">확인</button>
        </div>
    </div>
</nav>
<main>
    <div id="initial-message" class="content-tab active">
        <h2>반갑습니다. Jlaner 입니다. <br> 날짜를 선택해 컨텐츠를 작성하세요!</h2>
    </div>
    <div id="content-tab" class="content-tab">
        <div id="youtube-link-input">
            <input type="text" id="youtube-url" placeholder="Enter YouTube URL">
            <button id="insert-button" onclick="insertYouTubeVideo()">Insert</button>
        </div>
        <div class="textarea-container">
            <form id="post-form">
                <input type="hidden" id="post-date" name="scheduleDate">
                <textarea th:field="*{contentData}" id="shared-textarea" placeholder="내용을 입력해 주세요."></textarea>
                <button type="submit" class="save-button">Save</button>
            </form>
                <div class="button-container">
                    <button id="toggle-youtube-button" onclick="toggleYouTubeContainer()">Toggle YouTube</button>
                </div>
        </div>
    </div>
    <div id="schedule-tab" class="content-tab">
        <form th:action="@{/saveSchedule}" method="post" th:object="${scheduleData}">
            <div class="schedule-area">
                <button type="submit" class="schedule-save-button">Save</button>
                <div class="schedule-item">
                    <label>00:00 - 02:00</label>
                    <input type="checkbox" th:field="*{checkBox1}" id="check-00-02">
                    <textarea th:field="*{scheduleContent1}" id="text-00-02" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>02:00 - 04:00</label>
                    <input type="checkbox" th:field="*{checkBox2}" id="check-02-04">
                    <textarea th:field="*{scheduleContent2}" id="text-02-04" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>04:00 - 06:00</label>
                    <input type="checkbox" th:field="*{checkBox3}" id="check-04-06">
                    <textarea th:field="*{scheduleContent3}" id="text-04-06" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>06:00 - 08:00</label>
                    <input type="checkbox" th:field="*{checkBox4}" id="check-06-08">
                    <textarea th:field="*{scheduleContent4}" id="text-06-08" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>08:00 - 10:00</label>
                    <input type="checkbox" th:field="*{checkBox5}" id="check-08-10">
                    <textarea th:field="*{scheduleContent5}" id="text-08-10" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>10:00 - 12:00</label>
                    <input type="checkbox" th:field="*{checkBox6}" id="check-10-12">
                    <textarea th:field="*{scheduleContent6}" id="text-10-12" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>12:00 - 14:00</label>
                    <input type="checkbox" th:field="*{checkBox7}" id="check-12-14">
                    <textarea th:field="*{scheduleContent7}" id="text-12-14" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>14:00 - 16:00</label>
                    <input type="checkbox" th:field="*{checkBox8}" id="check-14-16">
                    <textarea th:field="*{scheduleContent8}" id="text-14-16" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>16:00 - 18:00</label>
                    <input type="checkbox" th:field="*{checkBox9}" id="check-16-18">
                    <textarea th:field="*{scheduleContent9}" id="text-16-18" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>18:00 - 20:00</label>
                    <input type="checkbox" th:field="*{checkBox10}" id="check-18-20">
                    <textarea th:field="*{scheduleContent10}" id="text-18-20" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>20:00 - 22:00</label>
                    <input type="checkbox" th:field="*{checkBox11}" id="check-20-22">
                    <textarea th:field="*{scheduleContent11}" id="text-20-22" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="schedule-item">
                    <label>22:00 - 00:00</label>
                    <input type="checkbox" th:field="*{checkBox12}" id="check-22-00">
                    <textarea th:field="*{scheduleContent12}" id="text-22-00" rows="3" placeholder="내용을 입력해 주세요."></textarea>
                </div>
            </div>
        </form>
    </div>
</main>
<div id="youtube-container" class="youtube-container">
    <iframe id="youtube-preview" width="560" height="200" src="" frameborder="0" allowfullscreen></iframe>
</div>
<script src="/js/token.js"></script>
<script src="/js/setHeader.js"></script>
<script src="/js/jlaner.js"></script>
<script src="/js/logout.js"></script>
</body>
</html>
